.vscode/settings.json
__pycache__/
data/
instances/
cropped_images/
saved_model/
model
model1/
debugging/
newdata/
newdata1/
newdatatest/
newdatatestv2/
newModel/
newModelTransfer/
newdatatest_model/
newdatatestv2_model/
newdatatestv2_model/
flnewdatatestv2_model/
predict_test/
nohup.out